@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*
{
    margin: 0; padding: 0;
}

body
{
    background-color: #313131;
    font-family: 'Poppins', sans-serif;
}

.wrapper
{
    height: 100vh;
}

.kartya
{
    align-items: center;
    background-color: #F0ECE2;
    border: none; border-radius: 5px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    margin: 50px 20px;
    padding: 30px;
    height: 100%;
}

.container
{
    width: 100%;
    display: grid;
}

.container .nav
{
    position: absolute;
    left: 3rem;
    top: 5rem;
}

.container img
{
    width: 100%;
}

.container .idezet
{
    color: #999999;
    padding: 15px 20px;
    margin-bottom: 30px;
}

.container .idezet #szerzo
{
    position: relative;
    left: 10px;
    top: 20px;
    float: right;
}

.row a#register {
    display: none;
}

.nav strong a
{
    background-color: #CA3E47;
    border: none; border-radius: 3px;
    color: #FFFFFF;
    font-size: 1.2em; font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 400ms ease; -webkit-transition: all 400ms ease;
}

.nav strong a:hover
{
    color: #999999;
}

.content
{
    align-items: center;
    display: grid;
}

.info h2
{
    font-size: 2.2em;
    line-height: 2;
    margin-top: 2em;
    margin-bottom: 1em;
}

.info p
{
    color:black;
    margin-bottom: 10px;
}

.info a
{
    background-color: #CA3E47;
    border: none; border-radius: 3px;
    color: #FFFFFF;
    float: right;
    font-size: 1.2em; font-weight: 500;
    letter-spacing: 0.5px;
    margin: 10px 0px 20px 0px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 400ms ease; -webkit-transition: all 400ms ease;
}

.info a:hover
{
    background-color: #EE4540;
}

a.language
{
    background-color: #F0ECE2;
}

a.language:hover
{
    background-color: #F0ECE2;
}

.bemutato
{
    display: none;
}

a#login {
    color: inherit;
}

@media screen and (max-width: 1024px)
{
    .kartya
    {
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        overflow: auto;
    }

    .nav
    {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        justify-content: flex-start;
    }
    .nav strong a
    {
        background-color: #CA3E47;
        border: none; border-radius: 3px;
        color: #FFFFFF;
        font-size: 1.2em; font-weight: 500;
        letter-spacing: 0.5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 400ms ease; -webkit-transition: all 400ms ease;
    }

    .info h2 {
        margin-top: 1.6em;
        margin-bottom: 0.2em;
        line-height: 1.2;
        font-size: 3em;
    }

    .idezet {
        display: none;
    }

    .container {
        height: 100%;
    }
    .container img
    {
        width: 100%;
    }

    .info p
    {
        display: none;
    }

    .info a {
        display: none;
    }

    .bemutato
    {
        display: flex;
        flex-direction: column;
    }

    .bemutato .mobile-szoveg
    {
        font-size: 1.2em;
    }

    .row a#register
    {
        display: unset;
        background-color: #CA3E47;
        height: fit-content;
        width: fit-content;
        border: none; border-radius: 3px;
        color: #FFFFFF;
        font-size: 1.2em; font-weight: 500;
        letter-spacing: 0.5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        float: left;
    }

    a#login
    {
        height: fit-content;
        width: fit-content;
        border: none; border-radius: 3px;
        color: inherit;
        font-size: 1.2em; font-weight: 500;
        letter-spacing: 0.5px;
        padding: 10px 0px;
        text-align: center;
        text-decoration: none;
        float: right;
        text-decoration: underline;
    }

    .row {
        display: block;
    }
}
@media screen and (max-width: 600px)
{
    .row {
        display: grid;
    }
}